.grid {
  border: 5px solid #e0e0e0;
  border-radius: 5px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: left;
  flex: 1;
}

.grid-row {
  display: flex;
  flex-direction: row;
  flex: 1;
}
